@tailwind base;

@media print {
    html {
        font-size: 90%;
    }
}

.o {
    width: 0.9em;
    height: 0.9em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.125rem;
    @apply bg-white;
    @apply border-solid;
    @apply border-2;
    @apply border-blue-700;
    @apply rounded-full;
}

.O {
    @apply o;
    @apply bg-blue-500;
}

@tailwind components;

@tailwind utilities;